{% extends "base.html" %}
{% block content %}
<h2>Créer un compte</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
    <input type="text" name="first_name" placeholder="Prénom" required>
    <input type="text" name="last_name" placeholder="Nom" required>
    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
    <input type="date" name="birth_date" required>
    <input type="password" name="password" placeholder="Mot de passe" required>

    <button class="btn btn-primary">S’inscrire</button>
</form>
{% endblock %}
